/*initial*/
.row{
    margin-right:0px;
    margin-left:0px;
}
@font-face {
    font-family: firstfont;
    src: url(../font/bangers-Regular.ttf);
    
}
@font-face {
    font-family: secondfont;
    src: url(../font/static/WorkSans-Regular.ttf);
    
}

  body{
      font-family:firstfont;
      letter-spacing: 1px;
  }
/*nav*/
.bg-nav{
    background-color:#ca0f54 ;
}
.main-nav {
    position:relative;
    padding:30px 10px 
}
.bg-nav .navbar-nav .nav-link{
    font-size:17px;
    padding:0 15px;
    text-transform: capitalize;
    color:lightgray;
    text-align: center;
    font-family: secondfont,sans-serif;
    text-transform:capitalize;
    transition:.15s ease-in-out

}
.bg-nav .navbar-nav .nav-link:hover{
    color:white;
    
}
.navbar-collapse{
    padding-top:20px;
}
.bg-nav .navbar-nav .active > .nav-link,.bg-nav .navbar-nav .show > .nav-link{
    color:white
}
 .fa-shopping-bag{
    font-size:25px;
    color:white;
}
.nav-user{
    font-size:20px;
    color:#ca0f54;
    background-color:white;
    padding:4px;
    border-radius:50%;
}

.ml-style{
    margin-left:5%
}

.logo-nav{
    height:auto;
    width:120px;
    max-height:60px;
}
.center-logo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.h-n-lg{
    display:none;
}
.ml-style .dropdown-menu{
    background-color: #ca0f54;
}
.dropdown-item-style a{
    color:white;
    font-family: secondfont,sans-serif;
    transition:.15s ease-in-out;
} 
.modal-nav .nav-link.active{
    background-color: white;
    color:#ca0f54 !important;

}
.modal-content-style{
    font-family:secondfont,sans-serif;
    text-transform: capitalize;
     
}
.modal-btn{
    width:100%;
    color:white;
    background-color: #ca0f54;
    border-radius: 0%;
    text-transform: capitalize;
}
.modal-btn:hover{
    color:white;
}
/*//nav*/
/*index page*/
.bg-ds-banner{
    background-color: aliceblue;
}
.ds-banner-txt{
    font-family:secondfont;
    font-size:18px ;
    color:#ca0f54;
}
.main-banner{
    width:100%;
    height:600px;
    max-height:600px;
}
.banner-wrap{
    position:relative;
}
.cat-img{
    width:100%;
    height:300px;
    max-height:300px;
}
.cat-img:hover{
    opacity:.8;
    transition:0.1s ease-in-out
}
.rel-cont{
    position:relative;
}
.cat-title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.cat-wrap{
    position:relative;
    bottom:11%;
    
}
.stand-title{
    font-weight: 500;
    font-size: 40px;
    text-transform:uppercase;
    color:black
}
.txt-sm-stand{
    font-weight:400;
    font-size:30px;
    text-transform:capitalize;
    font-family:secondfont,sans-serif;
    color:black;
    letter-spacing:-3px;
    font-style:italic;

    
}
.pro-title{
text-transform:capitalize;
text-align:center;
font-size:56px;
}
.pro-img{
    width:225px;
    height:225px;
    
}
.overlay-cont{
    position: relative;
    width: 100%;
}
.pro-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(225,225,225,.4);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  
}
.overlay-txt{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    text-transform: capitalize;
    left: 50%;
    font-family: secondfont;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay-txt:hover{
    color: white;   
    text-decoration:none;
}
.overlay-cont:hover .pro-overlay {
    height: 30%;
  }
.owl-theme .owl-dots .owl-dot span{
    background-color:lightgray;
}

.owl-theme .owl-dots .owl-dot.active span{
    background-color: #ca0f54;

}
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: rgba(202, 15, 84,.6);

}
.owl-carousel .owl-nav {
    font-size:31px
}
/*footer*/
.footer-bg{
    background-color: #ca0f54;
}
.footer-title{
    color:white;
    line-height: 1em;
    font-family:firstfont,sans-serif;
    letter-spacing: .15em;
    font-weight: 300;
  }
.list li a i.fab{
      font-size:20px;
  }
.list{
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    }
.list li a {
      color: lightgray;
      font-weight: 400;
      font-size: .9em;
      text-transform:capitalize;
      font-family: secondfont,sans-serif;
      padding: .3em 0;
      display: block;
    
    }

/*//footer*/
/*//index page*/
/*cat page*/
.card-style{
    border-width: 0px;
}
.cat-pg-pro-img{
    width:100%;
    height:200px;
    max-width:350px;
    max-height:350px;

}
.quick-view-txt{
    cursor:pointer;
    text-transform:capitalize;
}
.pro-review-img{
    width:480px;
    height:480px;
   
}
.modal-content-style{
    font-family:secondfont,sans-serif;
}
.modal-dialog-style{
    max-width:70%;
}
.quick-view-txt-wrap{
    display:block;
    text-transform:capitalize;
}
.quantity-input-modal{
width:25%;
}
.cat-pg-pro-det{
    text-align:center;
    font-family:secondfont,sans-serif;
    text-transform:capitalize;
    padding-top:0px;
}
.quick-view-price{
    text-transform:uppercase;
    font-size:20px;
    font-family:secondfont,sans-serif;
    
}
.pro-det-a{
    text-decoration: underline;
    color:darkgrey;
}
.pro-det-a:hover{
color:darkgrey
}
.carousel-indicators-style li{
    border-radius:50%;
    width:10px;
    height:10px;
    background-color:#ca0f54;
}

.carousel-indicators-style{
    position:relative;
}
/*//cat page*/
/*product-det pg*/
.pro-img-pro-det-pg{
    width:100%;
    height:480px;
}
.pro-title-pro-pg{
    color:#ca0f54;
    font-family:firstfont,sans-serif;
}
.form-group{
    font-family:secondfont,sans-serif;
    text-transform:capitalize;
}
.accordion {
    background-color: white;
    color: #444;
    
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family:secondfont,sans-serif;
  }
  .accordion-border{
      border-bottom:1px solid lightgray;
  }
  .accordion-txt{
    font-family:secondfont,sans-serif;
    color: #444;

  }
.accordion-txt .fa-circle{
    font-size:9px;
}
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  .mt-stand{
      margin-top:10%;
  }
/*//pro-det-pg*/
/*cart page*/
.cart-view-pro{
    width:100%;
    border-width: 0px;
    font-family:secondfont,sans-serif;
    color:#ca0f54;
    text-transform:capitalize;
}
.cart-view-title{
    font-size:20px;
}
.cart-view-pro-img{
    height:100px;
    width:100px;
    min-height:100px;
    min-width:100px;
}
.cart-view-pro-name{
    font-size:16px;
}
.det-cart-pg{
    font-size:14px;
    color:rgba(51, 26, 78, 0.6);
}
.cart-view-li-style{
    padding:5% 0px;
}
.quantity-cart-pg{
    width:90%;
}
.promo-code{
    color:#ca0f54;
    font-size:16px;
    text-decoration:underline
}
.promo-code:hover{
    
    color:#ca0f54
}
.promo-btn{
    background-color: transparent;
    border-radius: 0;
    border-color: #ca0f54;
    color: #ca0f54 ;
}
.ds-block{
    display:block;
}
.shopping-n-btn{
    font: size 19px;
}
/*//cart page*/
/*checkout pg*/
.checkout-nav-bg{
    background-color:white;
    padding:4%;
    border-bottom: 1px solid rgba(18,18,18,.15);

}
.nav-company-name{
    color:#ca0f54;
}
.nav-checkout{
    color:rgba(18,18,18,.5);
}
.checkoutnav-brand-style{
    font-size:2vw;
    text-transform:uppercase;
    font-family:secondfont,sans-serif;

}
.checkout-nav-bg .navbar-nav .nav-link{
    font-size:14px;
    padding:0 15px;
    text-transform: capitalize;
    color:black;
    text-align: center;
    font-family: secondfont,sans-serif;
    text-transform:capitalize;
    transition:.15s ease-in-out;
    text-decoration: underline;

}
.checkout-nav-bg .navbar-nav .nav-link:hover{
    color:darkgray;
    
}
.bg-checkout-pg-cart-summary{
    
    font-family:secontfont,sans-serif;
    text-transform:capitalize;
    padding:2%;
}
.ordersummary-checkout-wrap{
    overflow-y: scroll;
    height:160px;
    padding:0px 10px;
    
}
.border-b-checkout-pg{
    border-bottom: 1px solid rgba(18,18,18,.15);
}


.edit-order-checkout{
    text-decoration:underline;
    cursor: pointer;  
}
.checkoutpg-cart-detail-img{
    height:65px;
    width:65px;
    min-width:50px;
    min-height:50px;
}
.font-14{
    font-size:14px;
}
.bg-light-cart-summary{
background-color:#f5f5f5;
}

.ship-det-title{
    color:#ca0f54;
    font-size:26px;
    font-family:secondfont,sans-serif;
    text-transform:capitalize; 
}
.ship-details-det{
    font-size:16px;
    color:rgba(18,18,18,.6);
}
.step-sec-wrap{
    margin-bottom:3rem;
}
/*//checkout pg*/
/*responsive*/
@media (max-width: 575.98px) { 
.h-n-sm{
    display:none;
}
.h-n-lg{
    display:flex;
    justify-content: center;
}

.right-part-nav{
    position:absolute;
    top:38px;
    right:10px;
    display:-moz-inline-box;
    display:-webkit-inline-box;
}
.cat-wrap{
    bottom:0px;
    margin-top:10px;
}
.m-n-sm{
  margin:5px 0px  
}
.checkoutnav-brand-style{
    font-size:19px;
}
 }